@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Zen+Antique&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

div {
    padding-bottom: 15px;
}

header {
    height: 100px;
    background-color: rgb(0, 0, 0);
}

header h1{
    display: inline;
    float: left;
    padding: 20px 0 20px 20px;
    color: white;
    text-decoration: underline 2px white;
    font-family: 'Zen Antique', serif;
}

header ul {
    margin: 20px;
}

#main-nav li {
    display: inline-block;
    padding: 0 10px;
    width: 80px;
    border: solid 2px rgb(255, 252, 252);
    margin: 0 15px;
    text-align: center;
}

#main-nav a {
    text-decoration: none;
    color: rgb(255, 244, 244);
    font-size: 20px;
}
#main-nav a:hover {
    text-decoration: underline solid 1px;
    color: blue;
    cursor: pointer;
}

header nav{
    display: inline;
    float: right;
    padding: 20px 20px 20px 0;
}

#main-body{
    display: inline-block;
    text-align: left;
    padding: 0 20vw;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 17px;
}

.target-area {
    width: 60vw;
    text-align: center;
    padding-top: 20px;
}

table {
    width: 60vw;
    padding: 20px;
    border: solid black;
}

th {
    text-decoration: underline black 1px;
}
td {
    width: 10vw;
    height: 50px;
}

.heading-style{
    font-family: 'Zen Antique', serif;
    text-decoration: underline 2px rgb(17, 17, 17);
    margin: 15px 0;
}

p {
    margin: 20px 0;
    font-weight: 600;
}

footer {
    height: 100px;
    background-color: rgb(0, 0, 0);
}

#copyright {
    font-size: 20px;
    display: inline-block;
    color: white;
    float: right;
    padding: 20px 20px 20px 0;
}

footer li {
    display: inline-block;
    width: 80px;
    margin: 0 20px;
    text-align: center;
    float: left;
    padding: 30px 0 20px 20px;
    color: white;
}

i {
    color: white;
    font-size: 40px;
}

#help {
    padding-top: 10px;
    font-size: 27px;
    color: white;
}


.main-page-ul li {
    padding: 7px 0;
    font-size: larger;
}

h2 i {
    color: black;
    padding-left: 5px;
    font-size: 30px;
}

li i:hover {
    color: blue;
    cursor: pointer;
}

#help li a:hover {
    color: blue;
    cursor: pointer;
}